/* Nhiều cách để định dạng màu sắc
1- Sử dụng khóa màu:
color:red
color:blue
--> Hạn chế vì có 140 màu
2- Sử dụng mã màu HEX: là cách biểu diễn màu sắc theo giá trị thập lục phân
(0-9,A-F),đi kèm #
color:#ff0000 => màu đỏ
color:#00ff00 => màu xanh lá
Ngoài ra có thể sử dụng giá trị rút gọn
color:#f00
3- Sử dụng RGB(red,green,blue): có giá trị 0 đến 255
color:rgb(255,0,0)=>màu đỏ
color:rgb(0,255,0)=>màu xanh lá 
Ngoài ra có thêm giá trị (alpha) đồ trong suốt với rgba giá trị 0-1
color:rgba(255,0,0,0.5)
4- Sử dụng HSL(HUE,satution,Lightness)
Hue(tông màu): Giá trị từ 0 đến 360(O^0 là đỏ, 120^0 là xanh, 240^0 là xanh dương
satutation (độ bảo hòa) Tỷ lệ phần trăm(0% là xám, 100% độ đầm nhất
lightness(độ sáng) tỷ lệ % (0% là màu đen, 100% màu trắng
color:hsl(0,100%,50%,0.5)
5- Sử dụng biến màu trong css
:root{
--primary-color:#2498cb
--secondary-color:#ef74cb
}
h1{
color:var(--primary-color);
}
p{
color:var(--secondary-color);
}
6- Gradient: Hiệu ứng chuyển màu
-linear-gadient và gadient hình tròn(radial-gadient)
ví dụ:
background:linear-gadient(to right,red,green,blue)
background:radial-gadient(circle,red,green,blue)
 */
 /* Thuộc tính background trong css dùng để thiết lập màu nền,hiệu ứng nền, hình..
  background-color: màu nền
  background-image: url(đường dẫn hình)
  + đường dẫn hình có thể là 1 hình trong thư mục hình
  + đường dẫn hình có thể là 1 đường link bên ngoài
  background-position: vị trí đặt ảnh nền
  + left top
  + right botton
  +center
  hoặc dùng pixel/% 50px 100px 50% 50%
  background-size: kích thước ảnh nền
  +cover: tự động phóng to để lấp đầy màn hình
  +contain: hiển thị toàn bộ ảnh nhưng nó có thể có khoảng trống
  +auto: giữ nguyên kích thước gốc
  100% 100% kéo dãn ảnh để lấp đầy phần tử
  background-repeat: lặp lại hình nền
  +repeat: lặp lại theo cả chiều ngang và dọc
  +repeat-x: lặp theo chiều ngang
  +repeat-y: lặp theo chiều dọc
  +no-repeat: không lặp lại
  backgound-attachment: cố định ảnh nền
  + fixed: cố địnhảnh khi cuộc trang
  + scroll:cuộn theo nội dung
  + local: cuộn theo phần tử chứa nó
  -----GỘP Các thuộc tính background: thay vì viết từng cái thì gộp lại hết
 background: url(đường dẫn hình) các thuộc tính các thuộc tính
 /* hiệu ứng chuyển màu linear gradient: chuyển màu theo hướng đường thẳng */
 /* to-right: từ trái qua phải
    to-bottom từ trên xuống dưới
    45deg góc 45 độ
  */
 /* hiệu ứng chuyển màu hình tròn raial gradient 
    circle: tròn
    ellipse: hình elip
    Nhiều lớp ảnh nền
    background: url(đường dẫn hình) thuộc tính thuọctinh,
                url(đường dẫn hình) thuộc tính thuộc tính
    Hình nền trong suốt transparent 0-1
 */
 body{
    /* background-color:rgba(255,0,0,0.5) */
    background: url(Images/banner2.png) no-repeat center,
                url(Images/header.png) no-repeat center center/cover
    /* background: linear-gradient(to botton,red,green,blue); */
    /* background: radial-gradient(circle,red,green,blue); */
 }