.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}
.title {
  background-color: #d9534f;
  color: white;
  padding: -15px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}
.container {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* thu phóng tự động xuống hàng */
}
.product {
  background-color: white;
  padding: 15px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.product:hover {
  transform: scale(1.05);
  background-color: rgb(178, 278, 278);
}
.image.image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.image-wrapper img {
  width: 99%;
  transition: transform 0.5s, filter 0.3s;
}
.image-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(0.7) saturate(1.5);
}
.price {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.buy-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  width: 100px
  margin: 0 auto;
  border-radius: 5px;
}
.price sup{
  font-size: 20px;
vertical-align: super;
margin-left: -6px;
}
