body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
.tieude {
  background: url(/img/kesach.png) center;
  height: 300px;
}
.aa {
  background-color: grey;
  padding: 15px;
  position: relative;
}
a {
  color: whitesmoke;
  padding: 20px;
  text-decoration: none;
  height: 20px;
}
.aa:hover > img {
  border: solid red;
}
.ss {
  width: 300px;
  height: 250px;
  background-color: blueviolet;
}
.aa span {
  position: absolute;
  background-color: antiquewhite;
  padding: 5px;
  border: 1px darkblue;
  width: 300px;
  text-align: justify;
  visibility: hidden;
}
.aa:hover span {
  visibility: visible;
  top: 0px;
  left: 60px;
}
