*{
    box-sizing: border-box;
}

/* box-sizing: xác định cách tính toán kích thước của một phần tử, bao
gồm chiều rộng, chiều cao. Nó kiểm soát việc các thành phần như padding, border có được tính vào kích thước tổng 
thể của các phần tử đó hay không
Các giá trị:
content-box(mặc định)
+ chỉ nội dung (content) được tính vào kích thước của phần tử
+ padding và border sẽ được cộng thêm vào ngoài kích thước chỉ định bởi width và height
Ví dụ: width:100px và thêm padding: 10px cùng border 2px. Kích thước thực tế sẽ là
100+10+10+2+2=124px
border-box
+Kích thước tổng thể của phần tử bao gồm content,padding,border được giới hạn bởi giá trị
width và height đã khai báo
+ padding và border sẽ nằm trong kích thước đã được chỉ định, thay vì cộng thêm vào
ví dụ: width: 200px, padding 10px, border:2px, kích thước tổng thể là 
- inherit: kế thừa giá trị của box-sizing từ phần tử cha
*/
.toanboweb{
 width: 800px;
 background-color: silver;
 margin: 0 auto;  
 border: solid 2px silver;
}
nav{
    height: 35px;
    background: url(Images/menu_bg.png);
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav ul li,nav ul a{
    color: white;
    text-decoration: none;
    width: 120px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}
nav ul a:hover{
    background: chocolate;
}
main{
    display: flex;
}
aside{
    width: 24%;
    padding: 3px;
    background-color: white;
    margin: 0px;
} 
aside h5{
    color: white;
    background-color: royalblue;
    margin: 0px;
    padding: 10px;
}
aside ul a{
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}
aside ul ul a{
    font-weight: normal;
}
section{
    width: 75%;
}
section h4{
    background: royalblue;
    color: white;
    padding: 10px;
}
.vungsanpham{
    display: flex;
    justify-content: space-between;
}
.sanpham{
    width: 30%;
    background-color: white;
    text-align: center;
}
.sanpham:hover{
    border: solid 2px chocolate;
}
.sanpham .tensp{
    color: royalblue;
    font-weight: bold;
}
.sanpham .giasp{
    color: red;
    font-weight: bold;
}
.buy-btn{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}
.buy-btn:hover{
    transform: scale(1.1);
    background: violet;
}
footer{
    margin-top: 3px;
    background: white;
}
.footercontain{
    display: flex;
}
.footercontain div{
    width: 30%;
    padding: 3px;
}

