body {
  background-image: url(../img/hoicham.png);
}
h1 {
  /* ctrl / màu chữ */
  /* kiểu chữ */
  font-style: normal;
  font-style: oblique;
  /*font chữ  */
  font-family: "Times New Roman", Times, serif;
  /* chuyển hoa thường */
  text-transform: uppercase;
  /* không cho phép bôi đen đa trình duyệt */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
  opacity: 50%;
}
h3 {
  display: none;
}
h4 {
  /* visibility: hidden; */
}
#line1 {
  text-decoration: underline;
  color: blue;
}
/* .demo2 {
  color: rosybrown;
} */
/* h4 + h4 {
  color: brown;
} */
.demo ~ h4 {
  color: seagreen;
}
