/* Mobile: <768
Tablet: 768-1024px
Desktop: >1024px

iPhone 13:	390px × 844px
iPad:	810px × 1080px
Laptop Full HD:	1920px × 1080px
Công cụ hỗ trợ nó
1- <meta name="viewport" content="width=device-width, initial-scale=1.0">
cần có sự hỗ trợ co giãn
2- Media: Dùng để áp dụng CSS riêng cho từng độ rộng màn hình khác nhau.

@media (max-width: 768px) {
  body {
    background: lightblue;
  }
}
3- Flexbox (Cực quan trọng): Flexbox giúp bạn dễ dàng chia layout theo hàng/ngang và tự động co giãn.
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
4- Grid Layout: Grid giúp chia bố cục theo lưới – cực kỳ mạnh mẽ cho responsive nâng cao.
5- Ảnh:
 img {
  max-width: 100%;
  height: auto;
}
  6- Ẩn/hiện nội dung theo màn hình
  @media (max-width: 600px) {
  .desktop-only { display: none; }
}


 */